body {
    font-size: 12px;
}

.Client {
    padding:50px
}

.Client__Button {
    color: #fff;
    font-size: 50px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border-width: 0;
}

.Dashboard {
    padding:50px
}

.Dashboard__Result {
    padding:10px
}

.Dashboard__Result--orange {
    font-size: 24px;
    color: #fff;
    display: block;
    height: 50px;
    background-color:orange;
}

.Dashboard__Result--blue {
    font-size: 24px;
    color: #fff;
    display: block;
    height: 50px;
    background-color:blue;
}